<header class="main-header">
    <nav class="navbar">
        <div class="nav-brand">
            <a href="index.html">Мой блог</a>
        </div>
        <ul class="nav-menu">
            <li><a href="index.html">Главная</a></li>
            <li><a href="articles.html">Статьи</a></li>
            <li><a href="gallery.html">Галерея</a></li>
        </ul>
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
</header>
