<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Lybra Bee - блог и портфолио об ИИ и технологиях">
<meta property="og:title" content="Lybra Bee Portfolio">
<meta property="og:image" content="/images/design/og-image.png"> <!-- Замени на своё -->
<link rel="stylesheet" href="/css/style.css">
<link rel="manifest" href="/manifest.json">
<script>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('/service-worker.js');
  }
</script>
{{ template "_internal/google_analytics.html" . }}
