---
layout: default
---

<main class="lesson container py-5">
  <article class="lesson-content">
    <h1 class="mb-4">{{ page.title }}</h1>

    <div class="lesson-body">
      {{ content }}
    </div>

    <hr class="my-5">

    <a href="/lessons/" class="btn btn-primary">← Назад к списку уроков</a>
  </article>
  <script src="https://giscus.app/client.js"
        data-repo="lybra-bee/lybra-bee.github.io"
        data-repo-id="R_kgDOPjY7pA"
        data-category="[ВВЕДИТЕ CATEGORY NAME]"
        data-category-id="[ВВЕДИТЕ CATEGORY ID]"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="transparent_dark"
        data-lang="ru"
        crossorigin="anonymous"
        async>
</script>
</main>
